<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QrierApp</title>
</head>
<body>
<a th:href="@{finishedOrders}">Go to finished orders</a>
<table>
    <thead>
    <tr>
        <th>Order details</th>
        <th>Addresses</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order: ${activeOrders}" th:object="${order}">
        <th>
            <ul>
                <li th:text="|ID: *{id}|">Order id</li>
                <li th:text="|Date: *{createdOn}|">Date of creation</li>
                <li th:text="|Client: *{payer.alias}|">Client</li>
                <li th:text="|Price: *{price}|">Price</li>
                <li th:text="*{notes}">Notes</li>
            </ul>
        </th>
        <td>
            <ul>From:
                <li>
                    <span th:text="|*{sender.street} *{sender.houseNumber}|"></span>
                    <span th:if="*{sender.apartamentNumber != null}"
                          th:text="| / *{sender.apartamentNumber}|"></span>
                </li>
                <li th:text="|*{sender.zipCode} *{sender.city}|"></li>
                <li th:if="*{sender.notes != null}" th:text="|Notes: *{sender.notes}|"></li>
            </ul>
            <br>
            <ul>To:
                <li>
                    <span th:text="|*{receiver.street} *{receiver.houseNumber}|"></span>
                    <span th:if="*{receiver.apartamentNumber != null}"
                          th:text="| / *{receiver.apartamentNumber}|"></span>
                </li>
                <li th:text="|*{receiver.zipCode} *{receiver.city}|"></li>
                <li th:if="*{receiver.notes != null}" th:text="|Notes: *{receiver.notes}|"></li>
            </ul>
        </td>
        <td>
            <ul>
                <li th:text="|Assigned courier: *{courier.alias}|"></li>
                <li>
                    <!--TODO -->
                    <!-- JS event listener (bez przycisku)                    -->
                    <!-- wyświetlanie przypisanego kuriera bezpośrednio w selekcie                   -->
                    <form th:action="@{/dispatcher/assignCourier}" method="post">
                        <input type="hidden" th:value="${order.id}" name="orderId"/>
                        <label for="assignCourier">Choose a courier</label><br>
                        <select id="assignCourier" name="courierId">
                            <option th:each="courier : ${activeCouriers}"
                                    th:value="${courier.id}" th:text="${courier.alias}"
                                    th:selected="${order.courier.id == courier.id}"></option>
                        </select>
                        <button type="submit">Assign to order</button>
                   </form>
                </li>
                <li>
                    <button>Edit</button>
                </li>
                <li>
                    <button>Mark as finished</button>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>