<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Qrier App</title>
</head>
<body>
<form th:action="@{/dispatcher/addOrder}" method="post" th:object="${newOrder}">
    <h2>Client</h2>
    <div>
        <label>Choose from existing:
            <select name="payer" th:field="*{payer}">
                <option th:each="client : ${clients}" th:text="${client.alias}" th:value="${client.id}"></option>
            </select>
        </label>
        <!--        <a th:href="@{/addClient}">...or add a new client</a>-->
        <br>
        <label>Price:
            <input type="number" name="price" th:field="*{price}"/>
        </label>
        <label>Notes
            <textarea th:field="notes"></textarea>
        </label>
    </div>
    <h2>Addresses:</h2>
    <table>
        <tr>
            <th>Sender</th>
            <th>Receiver</th>
        </tr>
        <tr>
            <td>
                <label>Street:
                    <input type="text" name="senderStreet" th:field="*{sender.street}" placeholder="street"/>
                    <input type="number" name="senderHouseNumber" th:field="*{sender.houseNumber}"
                           placeholder="house number"/>
                    <input type="number" name="senderApartamentNumber" th:field="*{sender.apartamentNumber}"
                           placeholder="apartament number"/>
                </label>
                <br>
                <label>City:
                    <input type="text" name="senderZipCode" th:field="*{sender.zipCode}" placeholder="zipcode"/>
                    <input type="text" name="senderCity" th:field="*{sender.city}" placeholder="city"/>
                </label>
                <br>
                <label>Notes:
                    <textarea name="senderNotes" th:field="*{sender.notes}"
                              placeholder="ex. floor, entryphone not working, ..."/>
                </label>
            </td>
            <td>
                <label>Street:
                    <input type="text" name="receiverStreet" th:field="*{receiver.street}" placeholder="street"/>
                    <input type="number" name="receiverHouseNumber" th:field="*{receiver.houseNumber}"
                           placeholder="house number"/>
                    <input type="number" name="receiverApartamentNumber" th:field="*{receiver.apartamentNumber}"
                           placeholder="apartament number"/>
                </label>
                <br>
                <label>City:
                    <input type="text" name="receiverZipCode" th:field="*{receiver.zipCode}" placeholder="zipcode"/>
                    <input type="text" name="receiverCity" th:field="*{receiver.city}" placeholder="city"/>
                </label>
                <br>
                <label>Notes:
                    <textarea name="receiverNotes" th:field="*{receiver.notes}"
                              placeholder="ex. floor, entryphone not working, ..."/>
                </label>

            </td>
        </tr>
    </table>
    <button type="submit">Add order</button>
</form>


</body>
</html>